<div class="text-center">
    <input type="submit" value="GetData" class="btn btn-default" onClick="getInputFromStorage()"/>
</div>

<script type="text/javascript">
    function getInputFromStorage(){
            alert(window.localStorage.getItem("input"));
        }
</script>